<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="hackethon">
  <test thread-count="1" name="Hackathon_test">
    <classes>
      <class name="hackethon.Emi_Calc"/>
	  <class name="hackethon.loan"/>
	
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
